@import "./const_color_Coffee.scss";
@import "../mixin_const.scss";

.App{
    background: $background-body;
    @include box-all-body (fixed);
}
input::-webkit-input-placeholder {
    font-family: inherit;
    font-size: .9em;
    opacity: .7;
}
input:-moz-placeholder {
    font-family: inherit;
    font-size: .9em;
    opacity: .7;
}

.DataBase__container {
    @include box-all-body;
    display: flex;
    margin: .5%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    user-select: none;
    background: $background-DataBase__container;
    border-radius: 10px;
    color: $background-NavigationButton-hover;

    // Base header
    >div:nth-child(1) {

        @include box-all-body (relative, 0, 0, 90%, 0);
        margin: 0% 1% 0 1%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: stretch;
        background: $background-DataBase__header__container;

        >div:nth-child(2) {
            display: flex;
            flex-direction: column;
            flex: 1 1 75%;
            padding-left: 2em;
            color: $header-color_hover;

            h1 {
                margin: 2% 0 3% 1% !important;
            }

            h2 {
                margin-left: 1% !important;
                margin-bottom: 0 !important;
            }
        }
        // button back compare window
        > :nth-child(3) {
            padding-top: 1%;

            span {
                font-size: 1.5rem;
                color: $background-NavigationButton-hover;
                opacity: .7;
            }

            span:hover {
                opacity: 1;
            }
        }

        .searchInputDatalis_HeaderDataBase {
            position: fixed;
            top: 10%;
            left: 67%;
            width: 25%;

            label {
                width: 10%;
                padding-right: 5%;
            }

            label:hover + input {
                cursor: pointer;
                background-color: $table-background;
            }

            input {
                width: 50%;
                height: 3%;
                background-color: transparent;
                border: none;
                outline: none !important;
                cursor: pointer;
            }
            >input::-webkit-input-placeholder {
                color: $header-color_hover !important;
                font-size: 1em;
                font-weight: 700;
                opacity: .5;
            }
            >input:-moz-placeholder {
                color: $header-color_hover !important;
                font-size: 1em;
                font-weight: 700;
                opacity: .5;
            }

            input:focus, input:hover {
                background-color: $table-background;
                cursor: pointer;
            }
        }
            
        .input_Filter_HeaderDataBase{
            position: fixed;
            top: 10%;
            left: 83%;
            width: 15%;
            height: 2.7%;
            
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            
            
            
            :nth-child(1), :nth-child(1):hover{
                cursor: pointer;
                width: 10%;
                
                > * {
                    @include childrenAllParent;
                    background: inherit !important;
                    outline: none !important;
                    > * {
                        @include childrenAllParent;
                        background: inherit !important;
                        
                    }
                }
            }
            :nth-child(1){
                opacity: .8;
            }
            :nth-child(1):hover{
                opacity: 1 !important;
                color: $header-color;
            }
            :nth-child(1):hover + div{
                background-color: $table-background;
            }     
          
            :nth-child(2):not(input){
                height: 100%;
                width: 85%;
                margin-left: 4%;
                padding-left: 2%;
                font-size: 1em;
                font-weight: 700;
                cursor: pointer;
                color: $header-color_opacity;
                
                input{
                    border: none;
                    background-color: $table-background;
                    padding-left: 3%;
                    margin-left: -5%;
                    font-size: 1em;
                    font-weight: 700;
                    height: 100%;
                }

            }
            :nth-child(2):not(input):hover{
                background-color: $table-background;
            }           
        }
    }
        


    //DataBase__table__container
    
    >div:nth-child(2) {
        @include box-all-body (absolute, 15%, .7%, 0%, .7%);

        ::-webkit-scrollbar {
            width: 12px;
            -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
            background: $table-background;
        }

        ::-webkit-scrollbar-track {
            -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
            background: $table-background;
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb {
            background: $table-scrollbar-background;
            border-radius: 10px;
        }
        //при включении фильтрации вместо переключения страниц внизу появлется
        // предупреждение Активирован режим фильтрации данных
        >p{
            display: flex;
            position: fixed;
            top: 92%;
            left: 33%;
            color: $warning-color-p;
            font-size: 1.1em;
            font-weight: 700;
        }
    }

    thead {
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        width: 100%;
        margin: 0;

        tr {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            th>div{
                color: $header-color_hover !important;
            }
            :nth-child(n) {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                
                //кнопки внутри заголовка таблицы
                > :nth-child(1) {
                    color: $background-NavigationButton-hover;
                    opacity: 1;
                    align-content: center;
                    font-size: 1em;
                    padding-right: .5em;
                }

                > :nth-child(2), > :nth-child(3), > :nth-child(4) {
                    opacity: .5;
                    height: 25px;
                    width: 20px;
                    margin-left: 3px;
                    cursor: pointer;

                    > * {
                        @include childrenAllParent;

                        > * {
                            @include childrenAllParent;
                            font-size: .8em;
                        }
                    }
                }

                > :nth-child(2):hover, > :nth-child(3):hover, > :nth-child(4):hover, 
                > :nth-child(2):active, > :nth-child(3):active, > :nth-child(4):active {
                    opacity: 1;
                }
            }
        }
    }




    tbody {
        display: flex;
        position: absolute;
        top: 5%;
        width: 100%;
        overflow: auto;
        max-height: 87%;
        background: $table-background;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;


        tr {
            width: 100%;
            display: flex;
            flex-direction: row;
            height: 55px;

            :nth-child(1) {
                @include tr-border;
                @include children-center;
                padding: 0;

                > div {
                    @include box-central-flex(flex, 100%, 100%, space-around, center);
                    font-size: 1.4rem;
                    color: $background-NavigationButton-hover;
                    opacity: .6;
                    
                    //span in button 1 td
                    >*>*{
                        @include childrenAllParent;
                        cursor: pointer;
                    }
                }

                > div:hover {
                    font-size: 1.6rem;
                    opacity: 1;
                }
            }

            :nth-child(2) {
                padding: 1% 0 1% 1%;
                @include tr-border;
            }

            :nth-child(3), :nth-child(4) {
                padding: 0 0 0 1%;
                @include tr-border;
                @include children-center(flex-start);
            }

            :nth-child(5), :nth-child(6) {
                @include children-center;
                @include tr-border;
            }
        }
    }
}