$background-Navigation: linear-gradient(90deg,rgba(242, 223, 223, 0.4), rgba(250, 246, 246, 0.9));
$background-NavigationButton: transparent;
$background-NavigationButton-hover: #392b2b;
$background-NavigationButton-active: #532f2f;





$color-NavigationButton-Text: rgb(28, 17, 17);
$color-NavigationButton-Text-hover: rgb(239, 221, 221);

$color-navigationLink-About: rgba(250, 243, 243, 0.8);

// DataBase -> header

$background-body: rgba(173, 163, 157, 0.9);
$background-DataBase__container: linear-gradient(175deg, rgba(232, 226, 219, 0.68) 10%, rgb(232, 226, 219) 19%,rgba(198, 186, 180, 0.9) 80%);

// DataBase -> header 

$background-DataBase__header__container: transparent;

$header-color: rgba(57, 43, 43, 0.7);
$header-color_hover: rgb(57, 43, 43);
$header-color_active: rgb(65, 1, 1);


// DataBase -> header -> ConsoleButton

$button-console-background: inherit;
$button-console-background_hover: linear-gradient(180deg, rgba(232, 226, 219, 0) 10%, rgb(232, 226, 219) 45%,rgba(198, 186, 180, 0.9) 100%);
$button-console-background_active: linear-gradient(180deg, rgba(232, 226, 219, 0) 10%, rgb(232, 226, 219) 75%,rgba(198, 186, 180, 0.9) 100%);

$button-console-border-radius: 3px;

$button-console-border: none;
$button-console-border_hover: none;
$button-console-border_active: none;

$button-console-box-shadow: none;
$button-console-box-shadow_hover: 0px 3px 3px 3px rgba(198, 186, 180, 0.9);
$button-console-box-shadow_active: 0px 3px 1px 1px rgba(198, 186, 180, 0.9);

$button-console-size: none;
$button-console-size_hover: 1.9rem;
$button-console-size_active: 1.7rem;


// DataBase -> Table


$table-background:rgba(252, 249, 249, 1);
$table-border-color:rgba(198, 186, 180, 0.9);
$table-scrollbar-background: rgba(111, 95, 80, 0.18);
$rowFocus_Coffee: rgba(177, 142, 125, 0.4);
$table-shadow: 0px 0px 95px 1px rgba(239, 229, 223, 0.9);

// DataBase -> ConsoleCountRow

$button-console-footer-background_hover:linear-gradient(180deg, rgba(232, 226, 219, .1) 10%, rgb(232, 226, 219) 45%,rgba(198, 186, 180, 0.9) 100%);
$button-console-footer-background_activ:linear-gradient(180deg, rgba(232, 226, 219, .3) 10%, rgb(245, 243, 240) 75%,rgba(198, 186, 180, 0.9) 100%);
    
$button-console-footer-border_hover:none;
$button-console-footer-border_activ:none;
    
$button-console-footer-shadow_hover:0px 3px 2px 2px rgba(178, 162, 155, 0.9);
$button-console-footer-shadow_activ:0px 3px 1px 1px rgba(178, 162, 155, 0.9);


// Warning

$warning-color: #502828;
$warning-color-hover: #6a1616;
$warning-color-red: #ad3030;

$warning-background: linear-gradient(175deg, rgba(232, 226, 219, 0.78) 10%, rgb(239, 235, 231) 29%, rgb(239, 235, 231) 69%, rgba(198, 186, 180, 0.9) 99%);
$warning-shadow:  0px 0px 50px 2px #502828;


$warning-button-background: linear-gradient(180deg, rgba(250, 247, 243, 0.7) 5%,rgba(198, 186, 180, 1) 100%);
$warning-button-background_hover: linear-gradient(180deg, rgba(88, 77, 63, 0.1) 10%, rgb(250, 247, 243) 45%,rgba(198, 186, 180, 0.9) 100%);
$warning-button-background_active: linear-gradient(180deg, rgba(88, 77, 63, 0.28) 10%, rgb(250, 247, 243) 75%,rgba(198, 186, 180, 0.9) 100%);

$warning-button-shadow: 0px 1px 2px 1px rgba(88, 77, 63, 0.28);
$warning-button-shadow_hover: 0px 3px 3px 3px rgba(88, 77, 63, 0.28);
$warning-button-shadow_active: 0px 3px 1px 1px rgba(88, 77, 63, 0.28);

//ContextMenuWindow

$background-context-menu:linear-gradient(175deg, rgba(232, 226, 219, 1) 10%, rgb(239, 235, 231) 29%, rgb(239, 235, 231) 69%, rgba(212, 203, 198, 0.7) 99%);
$context-menu-shadow: 0px 0px 5px 1px rgba(95, 48, 25, 0.4);
$context-menu-color: rgba(57, 43, 43, 0.9);
$button-context-background_hover: linear-gradient(180deg, rgba(209, 201, 192, 0.2) 10%, rgb(250, 246, 240) 45%,rgba(198, 186, 180, 0.9) 100%);
$button-context-background_active: linear-gradient(180deg, rgba(209, 201, 192, 0.5) 10%, rgb(250, 246, 240) 75%,rgba(198, 186, 180, 0.9) 100%);

    
// input

$focus-background: white;
$focus-shadow: rgba(198, 186, 180, 0.9);

$invalid-background:rgba(252, 173, 173, 0.72);
$invalid-shadow: rgba(250, 39, 39, 0.72);


// ШРИФТЫ

$font-family-1: 'Vollkorn', serif;
$font-style-before: italic;
$font-style-link-about: italic;