// DataBase -> header -> ConsoleButton

@import "./const_color_Coffee.scss";
@import "../mixin_const.scss";

.DataBase__header__console {
    display: flex;
    justify-content: space-between;
    flex: 1 1 30%;
    flex-direction: row;
    align-items: center;
    margin-right: 2%;
    margin-left: 3%;

    div {
        display: flex;
        width: 53px;
        height: 53px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        outline: none !important;
        background: $button-console-background;
        border: $button-console-border;
        border-radius: $button-console-border-radius;

        * {
            @include box-central-flex(flex, 100%, 100%, space-around, center);
            text-decoration: none;
            color: $header-color;
        }
        :hover {
            transition: all 150ms ease-in-out;
            background: $button-console-background_hover;
            border: $button-console-border_hover;
            box-shadow: $button-console-box-shadow_hover;

            * {
                color: $header-color_hover;
                font-size: $button-console-size_hover;
            }
        }
        :active {
            transition: all 200ms ease-in-out;
            background: $button-console-background_active;
            box-shadow: $button-console-box-shadow_active;
            border: $button-console-border_active;

            * {
                color: $header-color_active;
                font-size: $button-console-size_active;
            }
        }
    }
}
