@import "./const_color_Coffee.scss";
@import "../mixin_const.scss";

.Wrapper{
    z-index: 50;
    background: rgba(42, 39, 39, 0.2);
    @include box-all-body (fixed);
    cursor: pointer;
}
.WindowEditWindow {
    display: flex;
    width: 38%;
    height: auto;
    @include box-central-position;
    background: $warning-background;
    box-shadow: 0px 0px 70px 2px rgba(118, 99, 90, 0.9);
    border-radius: 15px;
    padding: 2rem 2rem;
    color: $warning-color;
    font-family: 'Vollkorn', serif;
    font-size: 1.1em;
    font-style: italic;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;



    > div {
        display: flex;
        width: 100%;
    }
    // кнопка х
    > div:first-of-type {
        width: 30px;
        height: 30px;
        margin: -20px;
        align-items: center;
        outline: none !important;

        > * > span {
            font-size: 1.5rem;
            color: $warning-color;
        }

        > * > span:hover {
            font-size: 1.8rem;
            color: $warning-color-hover;
        }
    }
    //заголовок
    > div:nth-of-type(2) {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
        color: $warning-color;
        margin-top: 1rem;
        font-size: 1.4rem;
        cursor: default;
    }

    > form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;

        > div {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            margin: 1% 0;

            > label:not(.beautifulCheckbox) {
                width: 25%;
                padding-right: 2%;
                text-align: right;
            }


            > input:not(.beautifulCheckbox> input) {
                width: 70%;
                height: 40px;
                padding-left: 3%;
                outline: none !important;
                border: 1px solid $focus-shadow;
                border-radius: 5px;
                background: $table-background;
                color: $warning-color;
                font-size: 1.2rem;
                font-style: normal;
            }

            > input:focus {
                background: $focus-background;
            }

            > input:invalid {
                box-shadow: 0px 0px 5px 5px $invalid-shadow;
                background: $invalid-background;
            }
        }
    }
    //консоль с кнопками
    > div:last-of-type {
        flex-direction: row;
        justify-content: center;
        width: 100%;
        align-items: center;
        color: $warning-color;
        margin: 1.5rem 0 1rem 0;

        > div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 135px;
            height: 30px;
            cursor: pointer;
            text-decoration: none;
            border-radius: 4px;
            padding: .9rem 0 0.1rem 0;
            margin: 0 1rem;
            background: $warning-button-background;
            box-shadow: $warning-button-shadow;

            > * {
                width: 100%;
                height: 100%;
                font-size: 1.1rem;
                text-align: center;
                text-decoration: none;
                color: $warning-color;
            }
        }

        > div:hover {
            transition: all 150ms ease-in-out;
            background: $warning-button-background_hover;
            box-shadow: $warning-button-shadow_hover;

            > * {
                transition: all 150ms ease-in-out;
                font-size: 1.2rem;
                color: $warning-color-hover;
            }
        }

        > div:active {
            transition: all 200ms ease-in-out;
            background: $warning-button-background_active;
            box-shadow: $warning-button-shadow_active;

            > * {
                transition: all 150ms ease-in-out;
                font-size: 1.1rem;
            }
        }
    }
}
