



//style Loading
//1 - classic
$background-loading-classiс: linear-gradient(45deg, #333333, #4c4a4a);
$color-h1-loading-classic: #212121;
$color-before-loading-classic: #00ffff;
























