@import "./const_color_GreyBlue.scss";
@import "../mixin_const.scss";

.GB-Authorization>div,
.GB-Registration,
.GB-LoginAuthChange{
    display: flex;
    width: 38%;
    height: auto;
    @include box-central-position(fixed, 50%, 40%, -50%, -50%);

    padding: 2rem 2rem;
    font-size: 1.1em;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;  
    
    > div{
        width: 100%;
    }
    @include form-window;
}

.GB-Authorization{
    display:flex;
    @include childrenAllParent;
    background: $authorization-background;
    
    >div{
        background: $warning-background-auth;
        border-left: 15px solid rgba(12, 22, 52, .9);
        padding: 2em 3em 2em 0;
        h2{
            margin-top: .5em;
            margin-bottom: 1em;
            text-align: center;
        }

            > form {
                width: 100%;
                margin-left: 0%;
                > div {
                    >*{
                        :last-child{
                            margin-left: 40%;
                            cursor: pointer;
                            width: 1.2em;
                            opacity: .4;
                            font-size: 1.2em;
                        }
                        :last-child:hover{
                            opacity: 1;
                        }
                        :last-child:active{
                            opacity: .8;
                        }
                    }
                }
            }
        //buttons console
        > div:nth-child(3) {
            @include buttons-console-footer-window;
            >div:nth-child(2)>span{
                margin-left: 2em;
            }
        }
    }
}

.GB-Registration{
    width: 45%;
    @include box-central-position(fixed, 50%, 50%, -50%, -50%);
    
    >div>h2{
        margin: .5em 0 1em 2em;
    }
        
    > form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-right: 10%;
        width: 90%;

        > div{
            display: flex;

            
            >div:nth-child(1){  
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin: 1% 0;
                
                > label:not(.beautifulCheckbox) {
                    width: 15%;
                    padding-right: 2%;
                    text-align: right;
                }

                > input:not(.beautifulCheckbox> input) {
                    width: 80%;
                    height: 40px;
                    padding-left: 3%;
                    outline: none !important;
                    border: 1px solid $focus-shadow;
                    border-radius: 5px;
                    background: $table-background;
                    color: $color-activ;
                    font-size: 1.2rem;
                    font-style: normal;

                    placeholder{
                        font-family: $font-family-1;
                        font-size: 1.1em;
                        font-style: italic;
                    }
                }

                > input:focus {
                    background: $focus-background;
                }

                >*{
                    :last-child{
                        margin-left: 40%;
                        cursor: pointer;
                        width: 1.2em;
                        opacity: .4;
                        font-size: 1.2em;
                    }
                    :last-child:hover{
                        opacity: 1;
                    }
                    :last-child:active{
                        opacity: .8;
                    }
                }
            }
            //validation warning input
            >div:nth-child(2){
                position: fixed;
                left: 88%;
                width: 59%;
                padding-left: 2%;
                background: linear-gradient(120deg, rgb(242, 241, 241) 1%, rgba(239, 235, 231, 0.8) 100%);
                border-radius: 10px;
                >p>span{
                    margin-right: 2%;
                }
            }
        }
    }
    //buttons console
    > div:nth-child(3) {
        @include buttons-console-footer-window;
        >div:nth-child(2){
            margin-right: 0;
            >span{
                margin: 0 0 0 7em; 
            }
        }
    }
}

.GB-LoginAuthChange{
    h2{
        text-align: center;
        margin-top: 0;
    }
    h3{
        margin-left: 4em;
        color: $warning-color-red;
    }

    // button x
    > div:first-of-type {
        @include button-window-closse-x;
        margin: -10px -20px;
         > * > span {
            font-size: 1.1rem;
             opacity: .6;
        }
        > * > span:hover {
            font-size: 1.3rem;
            opacity: 1;
        }
        
    }
    
    @include form-window;
    > form {
        margin-right: -2%;
            width: 102%;
        > div {
            margin-right: -20%;
            >*{
                :last-child{
                    margin-left: 40%;
                    cursor: pointer;
                    width: 1.2em;
                    opacity: .4;
                    font-size: 1.2em;
                }
                :last-child:hover{
                    opacity: 1;
                }
                :last-child:active{
                    opacity: .8;
                }
            }
        }
    }
    
    //buttons console
    > div:nth-child(4) {
        @include buttons-console-footer-window;
    }
    
    // WindowValidationResult
    > div:nth-child(5){
        display: flex;
        position: fixed;
        background: $warning-button-background_2;
        box-shadow: $warning-button-shadow;;
        padding: .5rem 1rem 1.5rem 1.5rem;
        border-radius: 15px;
        width: 90%;
        height: auto;
        top: 80%;
        left: 14%;
        
        >div{
            >div{
                margin: 0 0 .5em 1em;
                >span{
                    padding-right: 1em;
                }
            }
            >div>div{
                @include buttons-console-footer-window;  
                margin: -2em 0 0 7em; 
                
            }
        }
        h4{
            margin: 2em 0 0 1em;
            color: $warning-color-red;
        }
    }
}