@import "./const_color_GreyBlue.scss";
@import "../mixin_const.scss";

.GB-Home{

    display: flex;
    height: 100%;
    
    >div:nth-child(1){
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        
        width: 100%;
        
        // color logo => $background-body: #dee2ea;            
        >div:nth-child(1){
            margin-left: 3%;
        }
    }
    

    
}