.WarningCompare{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    
    width: 50%;
    margin: auto;
    margin-top: 3%;
    height: 90%;
    
    >h2{
        align-self:flex-start;
        margin: 6% 0 0 6%;
        color: $warning-color-red;
       // text-transform: uppercase;

    }
    
}