$background-Navigation: linear-gradient(90deg,rgba(242, 223, 223, 0.4), rgba(250, 246, 246, 0.9));
$background-NavigationButton: transparent;
$background-NavigationButton-hover: #392b2b;
$background-NavigationButton-active: #532f2f;





//$color-NavigationButton-Text: #1c1111;
$color-NavigationButton-Text-hover: #efdddd;

$color-navigationLink-About: rgba(250, 243, 243, 0.8);

// DataBase -> header

$background-body: rgba(173, 163, 157, 0.9);
$background-DataBase__container: linear-gradient(175deg, rgba(232, 226, 219, 0.68) 10%, rgb(232, 226, 219) 19%,rgba(198, 186, 180, 0.9) 80%);

// DataBase -> header 

$background-DataBase__header__container: transparent;

$header-color: rgba(57, 43, 43, 0.7);
$header-color_hover: rgb(57, 43, 43);
$header-color_active: rgb(65, 1, 1);


// DataBase -> header -> ConsoleButton

$button-console-background: inherit;
$button-console-background_hover: linear-gradient(180deg, rgba(232, 226, 219, 0) 10%, rgb(232, 226, 219) 45%,rgba(198, 186, 180, 0.9) 100%);
$button-console-background_active: linear-gradient(180deg, rgba(232, 226, 219, 0) 10%, rgb(232, 226, 219) 75%,rgba(198, 186, 180, 0.9) 100%);

$button-console-border-radius: 3px;

$button-console-border: none;
$button-console-border_hover: none;
$button-console-border_active: none;

$button-console-box-shadow: none;
$button-console-box-shadow_hover: 0px 3px 3px 3px rgba(198, 186, 180, 0.9);
$button-console-box-shadow_active: 0px 3px 1px 1px rgba(198, 186, 180, 0.9);

$button-console-size: none;
$button-console-size_hover: 1.9rem;
$button-console-size_active: 1.7rem;


// DataBase -> Table

$table-background:rgba(252, 249, 249, 0.72);
$table-border-color:rgba(198, 186, 180, 0.9);
$table-row-focus-background: rgb(217, 201, 192);


// Warning
$warning-color: #502828;
$warning-color-hover: #6a1616;
$warning-color-red: #ad3030;

$warning-background: linear-gradient(175deg, rgba(232, 226, 219, 0.78) 10%, rgb(239, 235, 231) 29%, rgb(239, 235, 231) 69%, rgba(198, 186, 180, 0.9) 99%);
$warning-shadow:  0px 0px 50px 2px rgba(118, 99, 90, 0.9);


$warning-button-background: linear-gradient(180deg, rgba(250, 247, 243, 0.7) 5%,rgba(198, 186, 180, 1) 100%);
$warning-button-background_hover: linear-gradient(180deg, rgba(88, 77, 63, 0.1) 10%, rgb(250, 247, 243) 45%,rgba(198, 186, 180, 0.9) 100%);
$warning-button-background_active: linear-gradient(180deg, rgba(88, 77, 63, 0.28) 10%, rgb(250, 247, 243) 75%,rgba(198, 186, 180, 0.9) 100%);

$warning-button-shadow: 0px 1px 2px 1px rgba(88, 77, 63, 0.28);
$warning-button-shadow_hover: 0px 3px 3px 3px rgba(88, 77, 63, 0.28);
$warning-button-shadow_active: 0px 3px 1px 1px rgba(88, 77, 63, 0.28);


// input

$focus-background: white;
$focus-shadow: rgba(198, 186, 180, 0.9);

$invalid-background:rgba(252, 173, 173, 0.72);
$invalid-shadow: rgba(250, 39, 39, 0.72);





